<header>
  <!-- Main Top Menu -->
  <nav>
    <div id="navbar">
      <div id="logo">
          <a class="active" routerLink = "/home-page"> <div class="logo"> <span>Premier   </span> <img id="logo1"alt="logoo" src="./assets/download.png"><span>  League</span></div>
        </a>
      </div>
      <div id="links">
        <li class = 'navListItem'><a  routerLink="/club-details">Football Club Details</a></li>
        <li class = 'navListItem'><a routerLink="/match-details">Played match Details</a></li>
      </div>

    </div>
  </nav>
</header>



<router-outlet></router-outlet>
