<div class="bg-img"><div class="text">Football Premier League</div>
  <div class="paragrapgh"><p>The Premier League, often referred to outside England as the English Premier League or the EPL, is the top level of the English football league system. Contested by 20 clubs, it operates on a system of promotion and relegation with the English Football League (EFL). Seasons run from August to May with each team playing 38 matches</p></div>
  <div class="button"><a href="https://en.wikipedia.org/wiki/Premier_League" class="link-btn">

    <span>Read More</span>
  </a></div></div>

